header {
  background-color: #FFFFFF;
  height: 92px;
  max-width: 1440px;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
}
header p {
  margin: 10px;
}
header .iconka {
  display: flex;
  gap: 1rem;
}
header .iconka .dropdown {
  display: none;
  position: relative;
}
header .iconka .dropdown .dropdown-menu {
  top: 100%;
  right: 0;
  background-color: #FFFFFF;
  padding: 0 0 0 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 20px #aaa;
  display: none;
}
.container .box {
  width: 100%;
  height: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 6.5rem;
}
.container h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 36.4px;
  color: #FFFFFF;
  margin-top: 4rem;
}
.container p {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 167.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Open-sans;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

ul {
  list-style: none;
  gap: 3rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}

.container .pages {
  padding: 3rem 1rem;
}
.container .box1 {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  margin: 0 2rem;
}
.container .pag2 {
  line-height: 35px;
  margin-left: 6rem;
}
.container h2 {
  color: #FFFFFF;
  max-width: 617px;
  height: 350px;
  font-weight: 900;
  line-height: 50px;
  font-size: 40px;
  margin: 0 18rem 0 6rem;
}
.container .pages1 {
  padding: 3rem 1rem;
}

.navbar {
  min-height: 820px;
  background-color: rgba(225, 225, 225, 0.1098039216);
}
.navbar .yoz {
  font-size: 40px;
  padding: 6rem 2rem;
  color: #000000;
}
.navbar p {
  color: #000000;
}
.navbar h4 {
  position: absolute;
  background-color: #FFFFFF;
  width: 130px;
  height: 30px;
  text-align: center;
  margin-left: 12px;
}

.navbar1 {
  min-height: 500px;
  background-color: #F1F1F1;
  line-height: 50px;
}
.navbar1 a {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.45px;
  color: #7E7E7E;
}
.navbar1 .foot {
  width: 380px;
  height: 330px;
}
.navbar1 .chiziq {
  height: 0px;
  width: 460px;
  border-radius: nullpx;
  border: 1px solid #C4C4C4;
  margin-top: 15px;
  background-color: #7E7E7E;
}
.navbar1 .icon {
  display: flex;
  gap: 20px;
  margin-top: 80px;
}
.navbar1 .foot1 {
  width: 126px;
  height: 330px;
}

.navbar2 {
  background-color: #F1F1F1;
}
.navbar2 p {
  height: 50px;
  text-align: center;
  color: #7E7E7E;
}

@media (max-width: 575px) {
  header {
    width: 565px;
    padding: 0 50px;
  }
  header div ul.nav a {
    display: none;
  }
  header div .iconka .dropdown {
    display: block;
  }
  .container {
    width: 565px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }
  .container h2 {
    font-size: 30px;
  }
  .container .box p {
    font-size: 20px;
  }
  .container .box h1 {
    font-size: 30px;
  }
  .container .box1 {
    padding: 5rem 0;
  }
  .container .box1 p {
    font-size: 20px;
    margin-right: 5rem;
  }
  .container .home1 {
    flex-wrap: wrap;
    display: flex;
  }
  .container .home1 div {
    width: 100%;
    margin-left: 1rem;
  }
  .container .home1 div .logo {
    width: 100%;
  }
  .container .home1 div h4 {
    font-size: 20px;
    width: 50%;
  }
  .container .home1 div h3 {
    font-size: 20px;
  }
  .container .home1 div p {
    font-size: 20px;
  }
  .container .home1 div img {
    width: 25%;
  }
  .container .yoz {
    font-size: 30px;
  }
  .container .foot {
    width: 30%;
    height: 50%;
  }
  .container .foot .chiziq {
    width: 100%;
  }
  .container .foot1 {
    width: 30%;
  }
}
@media (min-width: 575px) and (max-width: 1000px) {
  .container {
    width: 990px;
    padding: 0 20px;
  }
  .container h2 {
    font-size: 30px;
    margin: 5rem 6rem;
    padding: 2rem 0;
    line-height: 60px;
  }
  .container .box {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .container .box p {
    font-size: 10px;
  }
  .container .box1 {
    margin: 0 5rem;
  }
  .container .box1 p {
    margin: 0;
  }
  .container .yoz {
    font-size: 30px;
  }
  .container .chiziq {
    width: 100%;
  }
  header {
    width: 990px;
    padding: 0 50px;
  }
  header li {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .container {
    width: 1390px;
    padding: 0 30px;
    flex-direction: column;
  }
  .container h2 {
    font-size: 50px;
    line-height: 80px;
  }
  .container .box1 {
    padding: 5rem 0;
  }
  .container .box1 p {
    font-size: 30px;
    line-height: 60px;
  }
  .container .pag {
    font-size: 30px;
  }
  .container h1 {
    font-size: 60px;
  }
  .container .pag1 {
    font-size: 30px;
  }
  .container .foot {
    width: 90%;
    height: 30%;
  }
  .container .foot a {
    font-size: 30px;
  }
  .container .foot1 {
    width: 90%;
    line-height: 80px;
    height: 100%;
  }
  .container .foot1 a {
    font-size: 30px;
  }
  .container h4 {
    font-size: 30px;
  }
  .container p {
    font-size: 30px;
  }
  header {
    width: 1390px;
    padding: 0 30px;
  }
  header h2 {
    font-size: 40px;
  }
  header li {
    font-size: 20px;
  }
  header p {
    font-size: 20px;
  }
  header .iconka {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */