.container{
    .pages{
    padding: 3rem 1rem;
    }
    .box1{width: 100%;
        height: 100%;
        padding: 2rem 0;
    }
    .pag2{
        line-height: 50px;
        margin-left: 6rem;
    }
    h2{
        color:#FFFFFF;
        width: 617px;
        height: 350px;
        font-weight: 900;
        line-height: 80px;
        font-size: 40px;
        margin: 0 18rem 0 6rem;
    }
    .pages1{
      padding: 3rem 1rem;

    }
}
.navbar{min-height: 820px;
    background-color:#e1e1e11c;
.yoz{font-size: 40px;
    padding: 6rem 2rem;
    color:#000000;
}
p{
    color:#000000;
}
h4{position: absolute;
    background-color:#FFFFFF;
    width: 130px;
    height: 30px;
    text-align: center;
    margin-left: 12px;
}
}