@media (max-width:575px) {
    header {width: 565px;
        padding: 0 50px;
        div {
            ul.nav {
                a {
                    display: none;
                }
            }

            

            .iconka{
                .dropdown{
                    display: block;
                }
            }
        }
    }

    .container {width:565px;
       padding:0 30px;
        display: flex;
        flex-direction: column;
        h2 {
         font-size: 30px; 
            }

        .box {
            p {
                font-size: 20px;
            }

            h1 {
                font-size: 30px;
            }
        }

        .box1 {padding: 5rem 0;
            p {
                font-size: 20px;
                margin-right: 5rem;
            }
        }

        .home1 {
            flex-wrap: wrap;
            display: flex;

            div {
                width: 100%;
                margin-left: 1rem;

                .logo {
                    width: 100%;
                }

                h4 {
                    font-size: 20px;
                    width: 50%;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 20px;
                }

                img {
                    width: 25%;
                }

            }

        }

        .yoz {
            font-size: 30px;
        }

        .foot {
            width: 30%;
            height: 50%;
            .chiziq{
                width: 100%;
            }
        }

        .foot1 {
            width: 30%;
        }
    }
}
@media (min-width:575px) and (max-width:1000px) {
    .container{
        width:990px;
        padding:0 20px;
        h2{
        font-size: 30px;
        margin:5rem 6rem;
        padding: 2rem 0;
        line-height: 60px;
        }
        .box{display: flex;
            flex-direction: column;
            row-gap: 2rem;
            p{
                font-size: 10px;
            }
        }
        .box1{
            margin: 0 5rem;
            p{
                margin: 0;
            }
        }
        .yoz{
            font-size: 30px;
        }
        .chiziq{
            width: 100%;
        }
    }
    header{
        width:990px;
        padding:0 50px;
        li{
            display: none;
        }
    }
    
}
@media (min-width:1000px) and (max-width:1400px) {
     .container{
        width:1390px;
        padding: 0 30px;
        flex-direction: column;
        h2{
            font-size: 50px;
            line-height: 80px;
        }
        .box1{
            padding: 5rem 0;
            p{
                font-size: 30px;
                line-height: 60px;
            }
        }
        .pag{
            font-size: 30px;
        }
        h1{
            font-size: 60px;
        }
        .pag1{
            font-size: 30px;
        }
        .foot{width: 90%;
            height: 30%;
            a{
                font-size: 30px;
            }
        
        }
        .foot1{width: 90%;
            line-height: 80px;
            height: 100%;
            a{
                font-size: 30px;
            }
            
            
        }
        h4{
            font-size: 30px;
        }
                p {
                    font-size: 30px;
                }
    }
    header{
        width:1390px;
        padding: 0 30px;
        h2{
            font-size: 40px;
        }
        li{
            font-size: 20px;
        }
        p{
            font-size: 20px;
        }
        .iconka{
            font-size: 20px;
        }
    }
    
}