@media (max-width:375px) {
    header {
        div {
            ul {
                a {
                    display: none;
                }
            }

            max-width: 1400px;

            .dropdown {
                display: block;
            }
        }
    }

    .container {
        padding: 30px;
        display: flex;
        flex-direction: column;

        .box {
            p {
                font-size: 30px;
            }

            h1 {
                font-size: 50px;
            }
        }

        .box1 {
            p {
                font-size: 30px;
            }
        }

        .home1 {
            flex-wrap: wrap;
            display: flex;

            div {
                width: 100%;
                margin-left: 1rem;

                .logo {
                    width: 100%;
                }

                h4 {
                    font-size: 50px;
                    width: 100%;
                }

                h3 {
                    font-size: 50px;
                }

                p {
                    font-size: 50px;
                }

                img {
                    width: 25%;
                }

            }

        }

        .yoz {
            font-size: 80px;
        }

        .foot {
            width: 80%;
        }

        .foot1 {
            width: 80%;
        }
    }
}